{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="body-content">
  <div class="container">
    <div class="sign-in-page">
      <div class="row">
      	<div class="col-sm-12 col-md-10 col-lg-8 create-new-account">
		    <h1>{% trans "Sign Up" %}</h1>

		<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
		{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

		<form class="register-form outer-top-xs" role="form" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
		  {% csrf_token %}
		  {{ form|crispy}}
		  {% if redirect_field_value %}
		  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		  {% endif %}
		  <button type="submit" class="btn-upper btn btn-primary checkout-page-button">{% trans "Sign Up" %} &raquo;</button>
		</form>
      	</div>

      </div>
    </div>
  </div>
</div>


{% endblock %}
