{% extends "../account_base.html" %}

{% load i18n %}


{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block shop %}
<br>
<br>
<br>
<div class="container ">
	<div class="row mt-5">
		<div class="sign-in-page">
		<div class="side-menu animate-dropdown outer-bottom-xs" id="top-banner-and-menu">
			<h1 class="name">{% trans "Sign Out" %}</h1>

			<h3 class="section-title">{% trans 'Are you sure you want to sign out?' %}</h3>

			<form method="post" action="{% url 'account_logout' %}">
			  {% csrf_token %}
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
			  {% endif %}
			  <button type="submit" class="btn btn-primary cart-btn">{% trans 'Sign Out' %}</button>
			</form>
		</div>
		</div>
	
	</div>
</div>

<div style="margin-top:300px;"></div>
{% endblock %}
